div, ul{
    display: flex;
    flex: auto;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.header, .image-info, .info-section, .body, .quote-section, .call-to-action {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.header {
    background-color: #1F2937;
}

.quote-section {
    background-color: #E5E7EB;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.box {
    background-color: #3882F6;
}

.info-section, .quote-section, .sign-up-section {
    align-items: center;
}
